<app-header-admin></app-header-admin>

<!-- Page Content List Products-->
<div class="container mt-5">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3 ">
        Spring eCommerce <small class="text-turquoise">Productos</small>
    </h1>

    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="" class="text-success">Home</a></li>
        <li class="breadcrumb-item active ">Ver Productos</li>
    </ol>

    <a class="btn btn-turquoise rounded-pill mb-3" routerLink="/admin/product/add" >
        <i class="fas fa-plus-circle"></i> Crear Producto
    </a>

    <h2 class="text-white">Lista de Productos</h2>
    
    <div class="table-responsive shadow-lg rounded-lg overflow-hidden bg-dark">
        <table class="table table-dark table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let producto of products">
                <tr>
                    <td>{{producto.code}}</td>
                    <td>{{producto.name}}</td>
                    <td>{{producto.description}}</td>
                    <td>${{producto.price | number:'1.2-2'}}</td>
                    <td>
                        <button class="btn btn-turquoise btn-sm rounded-pill" 
                                [routerLink]="['/admin/product/update', producto.id]">
                            <i class="fas fa-edit"></i> Editar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm rounded-pill" 
                                (click)="deleteProductById(producto.id)">
                             Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
